<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ilonw.server.repository.sys.SysAppRepository">

	<resultMap id="BaseResultMap" type="com.ilonw.server.bo.SysAppBO">
		<id column="app_channel" jdbcType="VARCHAR" property="appChannel" />
		<result column="app_id" jdbcType="INTEGER" property="appId" />
		<result column="app_key" jdbcType="VARCHAR" property="appKey" />
		<result column="app_createtime" jdbcType="VARCHAR" property="appCreatetime" />
		<result column="app_status" jdbcType="INTEGER" property="appStatus" />
		<result column="app_channel_name" jdbcType="VARCHAR" property="appChannelName" />
		<result column="app_user_id" jdbcType="VARCHAR" property="ilonwUserId" />
	</resultMap>

	<!-- 根据渠道名字查询，判断信息是否存在 -->
	<select id="querySysAppByAppChannelName" resultType="java.lang.Integer" parameterType="com.ilonw.server.bo.SysAppBO">
		select count(1) from sys_app where app_channel_name = #{appChannelName,jdbcType=VARCHAR}
	</select>

	<!-- 根据appid和appkey获取渠道信息 -->
	<select id="querySysApp"  resultType="java.lang.String"  parameterType="com.ilonw.server.bo.SysAppBO">
		select app_channel from sys_app where app_id = #{appId,jdbcType=INTEGER} and app_key = #{appKey,jdbcType=VARCHAR}
	</select>

	<!-- 保存客户的appid和appkey信息 -->
	<insert id="saveSysApp" parameterType="com.ilonw.server.bo.SysAppBO" useGeneratedKeys="true">
		insert into sys_app
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="appChannel != null">
				app_channel,
			</if>
			<if test="appId != null">
				app_id,
			</if>
			<if test="appKey != null">
				app_key,
			</if>
			<if test="appCreatetime != null">
				app_createtime,
			</if>
			<if test="appStatus != null">
				app_status,
			</if>
			<if test="appChannelName != null">
				app_channel_name,
			</if>
			<if test="ilonwUserId != null">
				app_user_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="appChannel != null">
				#{appChannel,jdbcType=VARCHAR},
			</if>
			<if test="appId != null">
				#{appId,jdbcType=INTEGER},
			</if>
			<if test="appKey != null">
				#{appKey,jdbcType=VARCHAR},
			</if>
			<if test="appCreatetime != null">
				#{appCreatetime,jdbcType=VARCHAR},
			</if>
			<if test="appStatus != null">
				#{appStatus,jdbcType=INTEGER},
			</if>
			<if test="appChannelName != null">
				#{appChannelName,jdbcType=VARCHAR},
			</if>
			<if test="ilonwUserId != null">
				#{ilonwUserId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
</mapper>
