<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ilonw.server.repository.user.OrderinfoRepository">

    <resultMap id="BaseResultMap" type="com.ilonw.server.bo.OrderinfoBO">
        <id column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="order_type" jdbcType="VARCHAR" property="orderType"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="money" jdbcType="DECIMAL" property="money"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="pay_type" jdbcType="VARCHAR" property="payType"/>
        <result column="pay_state" jdbcType="VARCHAR" property="payState"/>
    </resultMap>

    <insert id="insertSelective" parameterType="com.ilonw.server.bo.OrderinfoBO" useGeneratedKeys="true">
        insert into orderinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                order_id,
            </if>
            <if test="orderType != null">
                order_type,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="updatetime != null">
                updatetime,
            </if>
            <if test="payType != null">
                pay_type,
            </if>
            <if test="payState != null">
                pay_state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="orderType != null">
                #{orderType,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="money != null">
                #{money,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="payType != null">
                #{payType,jdbcType=VARCHAR},
            </if>
            <if test="payState != null">
                #{payState,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.ilonw.server.bo.OrderinfoBO">
        update orderinfo
        <set>
            <if test="orderType != null">
                order_type = #{orderType,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="money != null">
                money = #{money,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="payType != null">
                pay_type = #{payType,jdbcType=VARCHAR},
            </if>
            <if test="payState != null">
                pay_state = #{payState,jdbcType=VARCHAR},
            </if>
        </set>
        where order_id = #{orderId,jdbcType=VARCHAR}
    </update>

    <select id="selectByPrimaryKey" parameterType="com.ilonw.server.bo.OrderinfoBO" resultType="com.ilonw.server.bo.OrderinfoBO">
        select  *
        from orderinfo
        where order_id = #{orderId,jdbcType=VARCHAR}
        order by createtime desc limit 1
    </select>

</mapper>